[Desktop Entry]
Name=Black Glass
Comment=The Black Glass Window Decoration

X-KDE-PluginInfo-Author=Phobian347
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-Name=blackglass
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-EnabledByDefault=true
